<div class="border-bottom mb-4 pb-2">
  <div class="row">
    <div class="col-10">
      <div style="color: rgb(120, 120, 120); margin-bottom: 4px">
        <h4>{{job['title']}}</h4>
      </div>
      <div><b>Location: </b> {{job['location']}}</div>
      <div><b>Salary: </b> {{job['salary']}}</div>
    </div>

    <div class="col-2 mt-3">
      <a
        type="button"
        class="btn btn-outline-primary"
        href="mailto:snehchauhan.200410107036@gmail.com?subject=Application%20for%20{{job['title']}}"
        >Apply</a
      >
    </div>
  </div>
</div>
